version: "3.8"

networks:
  devops-net:
    driver: bridge

services:

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins_server
    ports:
      - "8081:8080"
      - "50001:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - devops-net
    restart: always

  sonarqube:
    image: sonarqube:lts-community
    container_name: sonarqube
    ports:
      - "9001:9000"
    networks:
      - devops-net
    restart: always

  trivy:
    image: aquasec/trivy
    container_name: trivy_scanner
    command: tail -f /dev/null
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - devops-net
    restart: always

volumes:
  jenkins_home:
    external: true
